<% include ../header.ejs %>

    <table class="table table-bordered table-hover">
        <tr>
            <td>제목</td>
            <td>작성일</td>
            <td>삭제</td>
        </tr>


        <tr>
            <td>
                제목 영역
            </td>
            <td>
                2017년 6월 21일
            </td>
            <td><a href="" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a></td>
        </tr>

    </table>

    <a href="/posts/write" class="btn btn-default">작성하기</a>
    <% include ../footer.ejs %>